.loading {
	bottom: 1vw;
	color: #91abc4;
	position: fixed;
	right: 1vw;
	text-align: center;

	&:before {
		font-family: var(--fa-style-family-classic);
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: var(--fa-display, inline-block);
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		text-rendering: auto;
		font-weight: 400;
		animation-name: "fa-spin";
		animation-delay: var(--fa-animation-delay, 0s);
		animation-direction: var(--fa-animation-direction, normal);
		animation-duration: var(--fa-animation-duration, 2s);
		animation-iteration-count: var(--fa-animation-iteration-count, infinite);
		animation-timing-function: var(--fa-animation-timing, linear);
		/* fa-spinner */
		content: "\f110";
		margin-right: 3px;
		font-size: 3vw;
	}
}

.game-cards {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	> div {
		flex-grow: 1;
		flex-basis: 0;
		margin: 0.8rem;
		max-width: 24rem;
		min-width: 16rem;
	}

	.card-spacer {
		margin: 0 0.8rem;
	}

	.game-card {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 0.6rem 3rem rgba(0, 0, 0, 0.2);
		cursor: pointer;
		transform-origin: center;
		transition: 0.18s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}

		.away-team,
		.home-team {
			float: left;
			font-size: 1.6rem;
			padding: 0.75rem;
			position: relative;
			width: 50%;

			&:after {
				border-style: solid;
				border-width: 24px 4px;
				content: " ";
				position: absolute;
				top: 0;
				width: 0;
			}
		}

		.away-team {
			border-top-left-radius: 6px;

			&:after {
				border-color: transparent #fff #fff transparent;
				right: 0;
			}

			.runs {
				float: right;
				padding-right: 0.25rem;
			}
		}

		.home-team {
			border-top-right-radius: 6px;
			text-align: right;

			&:after {
				border-color: #fff transparent transparent #fff;
				left: 0;
			}

			.name {
				float: right;
			}

			.runs {
				float: left;
				padding-left: 0.25rem;
			}
		}

		.game-info {
			align-items: center;
			border-radius: 0 0 6px 6px;
			clear: both;
			display: flex;
			justify-content: space-between;
			padding: 0.25rem 0.75rem;
		}

		.outs {
			color: #9d1014;
			display: inline-block;
			font-size: 1.5rem;

			.out {
				display: inline-block;

				&:before {
					content: "●";
				}
			}
		}

		.runners {
			display: inline-block;
			height: 1.5rem;
			margin-top: 0.375rem;
			position: relative;
			transform: rotate(45deg);
			transform-origin: center;
			width: 1.5rem;

			.first,
			.second,
			.third {
				background: #ddd;
				height: 0.7rem;
				position: absolute;
				width: 0.7rem;
			}

			.first {
				right: 0;
				top: 0;
			}

			.second {
				left: 0;
				top: 0;
			}

			.third {
				bottom: 0;
				left: 0;
			}

			.runner {
				background: #f0c11c;
			}
		}
	}
}

.modal {
	background: rgba(0, 0, 0, 0.225);

	.modal-content {
		border: 0;
		padding: 0;

		section {
			background: #fff;
			border: 1px solid #666;
			margin-bottom: 0.5rem;
			padding: 0.75rem;

			&:first-child {
				border-top-width: 0;
			}

			&:last-child {
				border-bottom-width: 0;
				margin-bottom: 0;
			}
		}
	}
}

table.linescore {
	margin: 0;

	thead th {
		text-align: center;
		border-bottom: none;
	}

	tbody td,
	tbody th {
		border: 1px solid #ddd;

		&:not(:first-child) {
			text-align: center;
		}

		&.did-not-play {
			color: #ccc;

			&:after {
				content: "X";
			}
		}
	}
}
