.disclosure {
	.disclosure-title {
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
		font-size: .75rem;

		&:before {
			content: "\25b8";
			display: inline-block;
			width: 12px;
		}
	}

	.disclosure-content {
		display: none;
	}

	&.open {
		.disclosure-title:before {
			content: "\25be";
		}

		.disclosure-content {
			display: inherit;
		}
	}
}
