body,
html {
	font-size: 1em;
	height: 100%;
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	background: #fafafa;
	color: #222;
	cursor: default;
	font-family: Helvetica Neue, Helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin: 0;
	padding: 0;
	position: relative;
}

img {
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
	margin: 0;
	padding: 0;
}

a {
	color: #0b2d4d;
	line-height: inherit;
	text-decoration: none;

	&:active,
	&:hover {
		color: #092742;
	}

	&:hover {
		cursor: pointer;
	}

	img {
		border: 0;
	}
}

p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;

	&,
	&.lead {
		line-height: 1.6;
	}

	&.lead {
		font-size: 1.21875rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: .5rem;
	margin-top: .2rem;
	padding: 0 1.25rem;
	text-rendering: optimizeLegibility;

	small {
		color: #6f6f6f;
		font-size: 60%;
		line-height: 0;
	}
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.3125rem;
}

h4 {
	font-size: 1.0625rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

.subheader {
	color: #6f6f6f;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: .5rem;
	margin-top: .2rem;
}

hr {
	border: solid #c8c8c8;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin: 1.25rem 0 1.1875rem;
}

em,
i {
	font-style: italic;
}

b,
em,
i,
strong {
	line-height: inherit;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
	line-height: inherit;
}

dl,
ol,
ul {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
	margin-bottom: 1.25rem;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

	&.no-bullet {
		list-style: none;
		margin-left: 0;

		ol,
		ul {
			list-style: none;
		}
	}

	&.no-bullet ol,
	&.no-bullet ul,
	ol,
	ul {
		margin-bottom: 0;
		margin-left: 1.25rem;
	}

	&.circle,
	&.disc,
	&.square {
		margin-left: 1.1rem;

		ul {
			list-style: inherit;
		}
	}

	&.square {
		list-style-type: square;
	}

	&.circle {
		list-style-type: circle;
	}

	&.disc {
		list-style-type: disc;
	}
}

ol {
	margin-left: 1.4rem;

	li ol,
	li ul {
		margin-bottom: 0;
		margin-left: 1.25rem;
	}
}

dl dt {
	font-weight: 700;
	margin-bottom: .3rem;
	padding-left: 0;
}

dl dd {
	margin-bottom: .75rem;
	padding-left: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

address {
	font-style: normal;
	white-space: pre-line;
}

abbr,
acronym {
	border-bottom: 1px dotted #dedede;
	color: #222;
	cursor: help;
	font-size: 90%;
	text-transform: uppercase;
}

abbr {
	text-transform: none;
}

blockquote {
	border-left: 1px solid #dedede;
	margin: 0 0 1.25rem;
	padding: .5625rem 1.25rem .5625rem 1.1875rem;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	&,
	& p {
		color: #6f6f6f;
		line-height: 1.6;
	}
}

iframe {
	margin-bottom: 1.25rem;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

.map-canvas embed,
.map-canvas img,
.map-canvas object {
	max-width: none !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

.hide {
	display: none !important;
}

.antialiased {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.print-only {
	display: none !important;
}

.help {
	font-size: .8rem;
	margin: 0;
	opacity: .7;
}

.dim {
	opacity: .6;
}

.preserve {
	white-space: pre-wrap;
}

.nowrap {
	white-space: nowrap;
}

@media only screen and (min-width: 48.063em) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.125rem;
	}

	h2 {
		font-size: 1.875rem;
	}

	h3 {
		font-size: 1.625rem;
	}

	h4 {
		font-size: 1.375rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	h6 {
		font-size: 1rem;
	}
}

@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.print-only {
		display: inherit !important;
	}

	.no-print {
		display: none !important;
	}

	@page {
		margin: .5cm;
	}
}
