# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*
/config/database.yml

# Front-end builds
/app/assets/builds/*
!/app/assets/builds/.gitkeep
/app/frontend/tsconfig.tsbuildinfo

# Ignore all logfiles and tempfiles.
/log
/tmp

/public/assets
/node_modules
/yarn-error.log
/.eslintcache

.DS_Store
Thumbs.db
