$body-bg: #f4f4f4;
$content-bg: #fff;

body {
	background: $body-bg;
}

a .fa-reddit {
	color: #ff4500;
}

.page-content {
	background: $content-bg;
	border-radius: 6px;
	box-shadow: 0 .6rem 3rem rgba(0, 0, 0, .2);
	margin: 1.5rem;
	padding: 1rem 1.2rem;

	> :last-child {
		margin-bottom: 0;
	}
}

.no-wrap,
th {
	white-space: nowrap;
}

.text-center {
	text-align: center;
}

.label.game-thread {
	&.live {
		background-color: #70a854;
		color: #fff;
		text-shadow: 0 1px 1px #223219;
	}

	&.error {
		background-color: #914141;
		color: #fff;
		text-shadow: 0 1px 1px #2c1414;
	}

	&.posted {
		background-color: #3775a8;
		color: #fff;
		text-shadow: 0 1px 1px #112332;
	}

	&.pregame {
		background-color: #7857db;
		color: #fff;
		text-shadow: 0 1px 1px #1f104c;
	}

	&.future {
		background-color: #ddd;
		color: #333;
		text-shadow: 0 1px 1px #f5f5f5;
	}
}
