$header-button-box-shadow: 0 2px 4px $neutral-200;

h1.header {
	color: $primary-700;
	padding: 0 0.75rem;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;

	.thumbnail {
		margin-right: .75rem;
	}

	.title {
		text-shadow: 0 1px 1px white;
		margin-right: 1rem;
	}

	.tags {
		align-self: center;
		padding-top: .25rem;

		.tag {
			background: color-mod($neutral-100 lightness(99%));
			border-radius: 4px;
			border: 1px solid color-mod($neutral-100 lightness(90%));
			color: $neutral-600;
			display: inline-block;
			font-size: 0.9rem;
			margin-right: .5rem;
			padding: .125rem .75rem;
			text-shadow: 0 1px 1px white;
		}
	}

	i {
		@mixin font-awesome light full-width;
		margin-right: .5rem;
		color: $primary-400;

		&.fab {
			@mixin font-awesome brands full-width;
		}

		&.fa-reddit {
			color: #ff4500;
		}
	}

	> * {
		display: flex;
		align-items: center;
	}

	input,
	select {
		margin-bottom: 0;
		margin-left: 0.5rem;
	}

	.buttons {
		margin-left: auto;

		.button,
		button {
			margin-left: .5rem;
			margin-bottom: 0;
			box-shadow: $header-button-box-shadow;
		}

		label {
			margin-bottom: 0;
		}
	}

	&.error {
		color: $red-700;
	}

	&::after {
		clear: both;
		content: "";
		display: table;
	}

	.has-dropdown {
		cursor: pointer;

		i {
			@mixin font-awesome full-width;
		}

		&:hover {
			color: $primary-900;

			&::after {
				opacity: 1;
			}
		}

		&::after {
			padding-left: .25rem;
			font-size: 1.375rem;
			color: $primary-600;
			opacity: 0.45;
		}

		+ .dropdown li {
			&.active {
				display: none;
			}

			a {
				font-size: 1rem;
			}

			i {
				font-weight: $fa-weight-regular;
				margin-right: 0;
				color: $primary-700;
			}
		}
	}
}

h2 {
	color: $primary-700;

	i {
		color: $primary-600;
	}
}

@media small-only {
	h1.header {
		margin-bottom: 3px;
	}
}

@media medium-up {
	h1.header {
		font-size: 1.625rem;
	}
}
