:ruby
  title 'Template'

  javascript 'templates/show', template: @template.id
  stylesheet 'templates/show'

%h4 /r/#{@template.subreddit.name} #{@template.type.titleize} Template

%pre
  %code.handlebars{ 'data-field' => 'body' }
