!!!
%html{ lang: :en }
%head
  %title Baseballbot Gameday
  %meta{ charset: 'utf-8' }
  %meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
  = stylesheet_link_tag    :gameday, media: :all
  = javascript_include_tag :gameday
  = javascript_include_tag :modernizr
%body
  %div.loading
