- title 'Baseballbot'

%h4 Today's Game Threads (#{@game_threads.count})

%table.game-threads
  %thead
    %tr
      %th PK
      %th Title
      %th Subreddit
      %th Post At
      %th Starts At
      %th Status
  %tbody
    %tr.loading
      %td{ colspan: 7 } Loading game threads...

%p All times are Pacific.

= javascript_packs_with_chunks_tag 'home'
