:ruby
  title 'Baseballbot'

  javascript 'home'

%h4 Today's Game Threads (#{@game_threads.count})

%table.game-threads
  %thead
    %tr
      %th.whitespace-nowrap{ 'data-column' => 'gamePk' } PK
      %th.whitespace-nowrap{ 'data-column' => 'title' } Title
      %th.whitespace-nowrap{ 'data-column' => 'subreddit' } Subreddit
      %th.whitespace-nowrap{ 'data-column' => 'postAt' } Post At
      %th.whitespace-nowrap{ 'data-column' => 'startsAt' } Starts At
      %th.whitespace-nowrap{ 'data-column' => 'status' } Status
  %tbody
    %tr.loading
      %td{ colspan: 7 } Loading game threads...

%p.text-center All times are Pacific.

- if logged_in? && Current.user.subreddits.any?
  %p.text-center= link_to 'Add a Game Thread', new_game_thread_path, class: 'button plain'
