/* @import './components/typography'; */

body,
html {
	font-size: 1em;
	height: 100%;
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	background: #fafafa;
	color: #222;
	cursor: default;
	font-family: Helvetica Neue, Helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin: 0;
	padding: 0;
	position: relative;
}

dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
li,
ol,
p,
pre,
td,
th,
ul {
	margin: 0;
	padding: 0;
}

a {
	color: #0b2d4d;
	line-height: inherit;
	text-decoration: none;

	&:active,
	&:hover {
		color: #092742;
	}

	&:hover {
		cursor: pointer;
	}
}

p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
}

h1,
h2,
h3,
h4 {
	color: #222;
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: .5rem;
	margin-top: .2rem;
	padding: 0 1.25rem;
	text-rendering: optimizeLegibility;
}

hr {
	border: solid #c8c8c8;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin: 1.25rem 0 1.1875rem;
}

em,
i {
	font-style: italic;
}

b,
em,
i,
strong {
	line-height: inherit;
}

b,
strong {
	font-weight: 700;
}

dl,
ul {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
	margin-bottom: 1.25rem;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

	ul {
		margin-bottom: 0;
		margin-left: 1.25rem;
	}
}

dl dt {
	font-weight: 700;
	margin-bottom: .3rem;
	padding-left: 0;
}

dl dd {
	margin-bottom: .75rem;
	padding-left: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 48.063em) {
	h1,
	h2,
	h3,
	h4 {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.125rem;
	}

	h2 {
		font-size: 1.875rem;
	}

	h3 {
		font-size: 1.625rem;
	}

	h4 {
		font-size: 1.375rem;
	}
}

/* @import './components/buttons'; */

.button,
button {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-size: .75rem;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 .3125rem;
	position: relative;
	text-align: center;
	transition: background .2s linear;
	padding: .75rem 1.125rem .8125rem;
	background: #0b2d4d;
	text-shadow: 0 1px 1px #02070c;

	.alert-box &,
	& {
		text-decoration: none;
		color: #fff;
	}

	&:active,
	&:hover {
		background: #092540;
		color: #fff;
	}

	.alert-box &:active,
	.alert-box &:hover {
		color: #fff;
		text-decoration: none;
	}

	&.create,
	&.save,
	&.submit {
		background: #70a854;
		color: #fff;
		text-shadow: 0 1px 1px #11190d;

		.alert-box & {
			color: #fff;
			text-decoration: none;
		}

		&:active,
		&:hover {
			background: #5d8b46;
			color: #fff;

			.alert-box & {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&.plain {
		background: #eaeaea;
		color: #333;
		text-shadow: 0 1px 1px #fcfcfc;

		.alert-box & {
			color: #333;
			text-decoration: none;
		}

		&:active,
		&:hover {
			background: #c2c2c2;
			color: #333;

			.alert-box & {
				color: #333;
				text-decoration: none;
			}
		}
	}
}

.buttons {
	white-space: nowrap;

	.create::before,
	.edit::before {
		font-family: var(--fa-style-family-classic);
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: var(--fa-display, inline-block);
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		text-rendering: auto;
		font-weight: 900;
		text-align: center;
		width: 1.25em;
		padding-right: 3px;
	}

	.create::before {
		/* fa-plus */
		content: "\2b";
	}

	.edit::before {
		/* fa-pencil */
		content: "\f303";
	}
}

h4 .button,
h4 button {
	vertical-align: middle;
}

/* @import './components/forms'; */

form {
	margin: 0 0 1rem;
}

label {
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 0;
}

select::-ms-expand {
	display: none;
}

input[type=date],
input[type=email],
input[type=password],
input[type=text],
textarea {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-sizing: border-box;
	color: #000;
	display: block;
	font-family: inherit;
	font-size: .875rem;
	height: 2.3125rem;
	margin: 0 0 .5rem;
	padding: .5rem;
	transition: box-shadow .45s, border-color .45s ease-in-out;
	width: 100%;

	&:focus {
		background: #fff;
		border-color: #999;
		box-shadow: 0 0 5px #999;
		outline: none;
	}

	&:disabled,
	&[disabled],
	&[readonly] {
		background-color: #ddd;
		color: #777;
		cursor: disabled;
	}

	td &:only-child,
	th &:only-child {
		margin: 0;
	}
}

input[type=submit] {
	-webkit-appearance: none;
	border-radius: 0;
}

textarea {
	min-height: 50px;
	white-space: pre-line;
}

textarea,
textarea[rows] {
	height: auto;
}

select {
	-webkit-appearance: none !important;
	background-color: #fff;
	background-image: url("data: image/svg+xml;base64,pHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjEyIiB3aWR0aD0iMjQiIGhlaWdodD0iMyIgdmlld0JveD0iMCAwIDYgMyI+PHBhdGggZD0iTTUuOTkyIDBsLTMgMy0zLTN6Ii8+PC9zdmc+");
	background-position: 100%;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #000;
	font-size: .875rem;
	height: 2.3125rem;
	line-height: normal;
	padding: .5rem 24px .5rem .5rem;
	width: 100%;

	&:hover {
		background-color: #fff;
	}

	&:disabled,
	&[disabled],
	&[disabled]:hover {
		background-color: #ddd;
		border-color: #ccc;
		color: #777;
		cursor: disabled;
	}

	&[multiple] {
		background-image: none;
		height: auto;
	}
}

input[type=checkbox],
input[type=radio],
select {
	margin: 0 0 .5rem;

	td &:only-child,
	th &:only-child {
		margin: 0;
	}
}

input[type=checkbox] + label,
input[type=radio] + label {
	display: inline-block;
	margin-bottom: 0;
	margin-left: .5rem;
	margin-right: 1rem;
	vertical-align: baseline;
}

input,
select,
textarea {
	&.error,
	&.error:focus,
	&.error:focus:hover {
		background: #f6eaea;
		border-color: #b55959;
	}
}

/* @import './components/labels'; */

.label {
	background-color: #0b2d4d;
	color: #fff;
	text-shadow: 0 1px 1px #030e17;
	border-radius: 3px;
	display: inline-block;
	font-size: .75rem;
	line-height: 1;
	margin-bottom: inherit;
	padding: .375rem .5rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;

	&.fw,
	td.status:last-child &:only-child {
		display: block;
	}
}

/* @import './components/modals'; */

.modal-overlay {
	background: rgba(0, 0, 0, .45);
	height: 120%;
	position: fixed;
	width: 100%;
	z-index: 9500;
}

.modal,
.modal-overlay {
	display: none;
	left: 0;
	top: 0;
}

.modal {
	background-color: #fff;
	border: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .45);
	margin-bottom: 1rem;
	padding: 0;
	position: absolute;
	visibility: hidden;
	width: 100vw;
	z-index: 9501;

	.column,
	.columns {
		min-width: 0;
	}

	> :first-child {
		margin-top: 0;
	}

	.modal-content form,
	> :last-child {
		margin-bottom: 0;
	}

	.modal-title {
		background: #2f638f;
		border: 1px solid #214665;
		color: #fff;
		font-weight: 700;
		margin: 0;
		padding: .375rem .75rem;
		text-shadow: 0 1px 1px #000;
	}

	.modal-close {
		color: #fff;
		cursor: pointer;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		position: absolute;
		right: 1rem;
		top: .3125rem;
	}

	.modal-content {
		border: 1px solid #666;
		border-width: 0 1px;
		margin: 0;
		padding: .75rem;
	}

	.modal-buttons {
		background: #ededed;
		border: 1px solid #666;
		border-top-color: #d1d1d1;
		padding: .75rem;
		text-align: right;

		&:empty {
			border-width: 0 0 1px;
			padding: 0;
		}
	}
}

@media only screen and (min-width: 44.063em) {
	.modal.small {
		left: 50%;
		margin-left: -22em;
		top: 6.25rem;
		width: 44em;
	}
}

@media print {
	.modal-overlay {
		display: none !important;
	}

	.modal {
		background: #fff !important;
	}
}

/* @import './components/pagination'; */

.pagination {
	display: block;
	margin-left: -.3125rem;
	min-height: 1.5rem;
	text-align: center;

	&:empty {
		display: none;
	}

	li {
		color: #222;
		display: inline-block;
		font-size: .875rem;
		height: 1.5rem;
		margin-left: .0625rem;

		a,
		span {
			background: none;
			border-radius: 4px;
			color: #999;
			display: block;
			font-size: 1em;
			font-weight: 400;
			line-height: inherit;
			padding: .0625rem .625rem;
			transition: background-color .3s ease-out;

			&,
			&:focus {
				background: rgba(0, 0, 0, .08);
			}
		}

		&.unavailable {
			a,
			span {
				color: #999;
				cursor: default;

				&:focus {
					background: transparent;
				}
			}

			&:hover {
				a,
				button {
					background: transparent;
				}
			}
		}

		&.current {
			a,
			span {
				background: #0b2d4d;
				color: #fff;
				cursor: default;
				font-weight: 700;

				&:focus,
				&:hover {
					background: #0b2d4d;
				}
			}
		}
	}
}

/* @import './components/tables'; */

table {
	border-collapse: collapse;
	margin: .5em 0;
	width: 100%;
}

th {
	border-bottom: 1px solid #8c8c8c;
	font-weight: 700;
	text-align: left;
}

td,
th {
	padding: .5em;
}

td {
	border-top: 1px solid #ccc;
}

td,
th,
tr {
	vertical-align: middle;
}

table table {
	margin: 0;

	td {
		border-top: 0;
		padding: .25em;
	}
}

tr.no-records {
	display: none;
}

tr.loading td,
tr.no-records {
	text-align: center;
}

tr.loading td:before {
	font-family: var(--fa-style-family-classic);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: var(--fa-display, inline-block);
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-rendering: auto;
	font-weight: 400;
	animation-name: "fa-spin";
	animation-delay: var(--fa-animation-delay, 0s);
	animation-direction: var(--fa-animation-direction, normal);
	animation-duration: var(--fa-animation-duration, 2s);
	animation-iteration-count: var(--fa-animation-iteration-count, infinite);
	animation-timing-function: var(--fa-animation-timing, linear);
	/* fa-spinner */
	content: "\f110";
	margin-right: 3px;
}

/* @import './components/panels'; */

.panel {
	background: #f2f2f2;
	border: 1px solid #d6d6d6;
	font-size: .875rem;
	margin-bottom: 1.25rem;
	padding: 1rem 1.25rem;

	dl,
	h1,
	h2,
	h3,
	h4,
	li,
	p {
		color: #333;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
		margin-bottom: .625rem;
	}

	dl,
	ol,
	ul {
		font-size: inherit;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
