.button,
button {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-size: .75rem;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 .3125rem;
	position: relative;
	text-align: center;
	transition: background .2s linear;
	padding: .75rem 1.125rem .8125rem;
	background: #0b2d4d;
	text-shadow: 0 1px 1px #02070c;

	.alert-box &,
	& {
		text-decoration: none;
		color: #fff;
	}

	&:active,
	&:hover {
		background: #092540;
		color: #fff;
	}

	.alert-box &:active,
	.alert-box &:hover {
		color: #fff;
		text-decoration: none;
	}

	&expand {
		width: 100%;
	}

	&.radius {
		border-radius: 5px;
	}

	&.xlarge {
		padding: 1.35rem .9rem 1.4125rem;
		font-size: 1.05rem;
	}

	&.large {
		padding: .975rem .825rem 1.0375rem;
		font-size: .8625rem;
	}

	&.small {
		padding: .45rem .75rem .5125rem;
	}

	&.tiny {
		padding: .3rem .45rem .3625rem;
		border-radius: 5px;
		font-size: .3rem;
	}

	&.danger,
	&.delete,
	&.deny,
	&.destroy,
	&.logout {
		background: #914141;
		color: #fff;
		text-shadow: 0 1px 1px #160a0a;

		.alert-box & {
			color: #fff;
			text-decoration: none;
		}

		&:active,
		&:hover {
			background: #783636;
			color: #fff;

			.alert-box & {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&.approve,
	&.close,
	&.create,
	&.save,
	&.submit,
	&.success {
		background: #70a854;
		color: #fff;
		text-shadow: 0 1px 1px #11190d;

		.alert-box & {
			color: #fff;
			text-decoration: none;
		}

		&:active,
		&:hover {
			background: #5d8b46;
			color: #fff;

			.alert-box & {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&.cancel,
	&.download,
	&.email,
	&.plain,
	&.toggle-all {
		background: #eaeaea;
		color: #333;
		text-shadow: 0 1px 1px #fcfcfc;

		.alert-box & {
			color: #333;
			text-decoration: none;
		}

		&:active,
		&:hover {
			background: #c2c2c2;
			color: #333;

			.alert-box & {
				color: #333;
				text-decoration: none;
			}
		}
	}
}

.buttons {
	white-space: nowrap;

	button.has-dropdown {
		&::after {
			content: '';
			padding-left: 0;
		}
	}

	.dropdown {
		text-align: left;

		span::before {
			@mixin font-awesome light full-width;
			padding-right: 6px;
		}

		.edit span::before {
			content: fa-var(pencil);
		}

		.delete span::before {
			content: fa-var(trash-can);
		}
	}

	.create::before,
	.delete::before,
	.edit::before {
		@mixin font-awesome solid full-width;
		padding-right: 3px;
	}

	.create::before {
		content: fa-var(plus);
	}

	.delete::before {
		content: fa-var(trash-can);
	}

	.edit::before {
		content: fa-var(pencil);
	}
}

h4 .button,
h4 button {
	vertical-align: middle;
}
