.pagination {
	display: block;
	margin-left: -.3125rem;
	min-height: 1.5rem;
	text-align: center;

	&:empty {
		display: none;
	}

	li {
		color: #222;
		display: inline-block;
		font-size: .875rem;
		height: 1.5rem;
		margin-left: .0625rem;

		a,
		span {
			background: none;
			border-radius: 4px;
			color: #999;
			display: block;
			font-size: 1em;
			font-weight: 400;
			line-height: inherit;
			padding: .0625rem .625rem;
			transition: background-color .3s ease-out;

			&,
			&:focus {
				background: rgba(0, 0, 0, .08);
			}
		}

		&.unavailable {
			a,
			span {
				color: #999;
				cursor: default;

				&:focus {
					background: transparent;
				}
			}

			&:hover {
				a,
				button {
					background: transparent;
				}
			}
		}

		&.current {
			a,
			span {
				background: #0b2d4d;
				color: #fff;
				cursor: default;
				font-weight: 700;

				&:focus,
				&:hover {
					background: #0b2d4d;
				}
			}
		}
	}
}
