.panel {
	background: #f2f2f2;
	border: 1px solid #d6d6d6;
	font-size: .875rem;
	margin-bottom: 1.25rem;
	padding: 1rem 1.25rem;

	dl,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	p {
		color: #333;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1;
		margin-bottom: .625rem;
	}

	dl,
	ol,
	ul {
		font-size: inherit;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	&.radius {
		border-radius: 3px;
	}

	&.info {
		background: #eef7fb;
		border: 1px solid #c0e1f2;

		dl,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		li,
		p {
			color: #333;
		}
	}

	&.success {
		background: #a8cb97;
		border: 1px solid #89b872;

		dl,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		li,
		p {
			color: #333;
		}
	}

	&.danger {
		background: #e0c4c4;
		border: 1px solid #cca0a0;

		dl,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		li,
		p {
			color: #333;
		}
	}

	&.small {
		padding: .5rem .625rem;
	}
}
