<!DOCTYPE html>
<html lang="en" class="h-full bg-slate-100 dark:bg-slate-900">
  <head>
    <title>Baseballbot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag :application, media: :all %>
    <%= stylesheet_link_tag 'https://kit.fontawesome.com/eacb1922fa.css', crossorigin: :anonymous, nonce: true %>
    <%= javascript_include_tag :application, defer: true, type: :module %>
  </head>
  <body class="h-full">
    <div id="root"></div>
  </body>
</html>
