@import 'functions';
@import 'FontAwesome/variables';

@import 'fustrate/colors';
@import 'settings';
@import 'fustrate';
@import 'layout';

@import 'FontAwesome/fontawesome';
@import 'FontAwesome/light';
@import 'FontAwesome/regular';
@import 'FontAwesome/solid';

$card-bg: #fff;

body {
  background-color: $body-bg;
}

.loading {
  bottom: 1vw;
  color: scale-color($primary-color, $lightness: 60%, $saturation: -60%);
  position: fixed;
  right: 1vw;
  text-align: center;

  &::before {
    @include font-awesome('\f110', $spin: true);
    font-size: 3vw;
  }
}

$team-colors: (
  la: #002f6c #fff,
  col: #24135e #cacdcd,
  ari: #a71930 #dbceac,
  sf: #000 #fb5b1f,
  sd: #483727 #fec325,
  atl: #002855 #ba0c2f,
  was: #ba122b #fff,
  nym: #002d70 #fc4c00,
  phi: #ba0c2e #fff,
  mia: #000 #00A3E0,
  bal: #fc4c00 #000,
  bos: #c60c30 #024,
  nyy: #1c2841 #fff,
  tor: #003da5 #fff,
  tb: #79bdee #ffd700,
  ana: #ba032e #fff,
  hou: #072854 #ff7f00,
  tex: #bd1021 #003279,
  sea: #1c8b85 #c0c0c0,
  oak: #00483a #ffbe00,
  chc: #002f6c #c8102e,
  cin: #ba0c2f #fff,
  stl: #c41e3a #0a2252,
  mil: #012143 #c4953b,
  pit: #000 #ffc72b,
  kc: #74b4fa #fff,
  det: #0c2340 #fa4614,
  min: #0c2341 #ba0c2e,
  cle: #d50032 #0c2340,
  cws: #000 #fff
);

.game-cards {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    flex-grow: 1;
    margin: .8rem;
    max-width: 24rem;
    min-width: 16rem;
  }

  .card-spacer {
    margin: 0 .8rem;
  }

  .game-card {
    background: $card-bg;
    border-radius: 6px;
    box-shadow: 0 .6rem 3rem rgba(0, 0, 0, .2);
    cursor: pointer;
    transform-origin: center;
    transition: .18s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .away-team,
    .home-team {
      float: left;
      font-size: 1.6rem;
      padding: .75rem;
      position: relative;
      width: 50%;

      &::after {
        border-style: solid;
        border-width: 24px 4px;
        content: ' ';
        position: absolute;
        top: 0;
        width: 0;
      }
    }

    .away-team {
      border-top-left-radius: 6px;

      &::after {
        border-color: transparent $card-bg $card-bg transparent;
        right: 0;
      }

      .runs {
        float: right;
        padding-right: .25rem;
      }
    }

    .home-team {
      border-top-right-radius: 6px;
      text-align: right;

      &::after {
        border-color: $card-bg transparent transparent $card-bg;
        left: 0;
      }

      .name {
        float: right;
      }

      .runs {
        float: left;
        padding-left: .25rem;
      }
    }

    .game-info {
      align-items: center;
      border-radius: 0 0 6px 6px;
      clear: both;
      display: flex;
      justify-content: space-between;
      padding: .25rem .75rem;
    }

    .outs {
      color: #9d1014;
      display: inline-block;
      font-size: 1.5rem;

      .out {
        display: inline-block;

        &::before {
          content: '●';
        }
      }
    }

    .runners {
      display: inline-block;
      height: 1.5rem;
      margin-top: .375rem;
      position: relative;
      transform: rotate(45deg);
      transform-origin: center;
      width: 1.5rem;

      .first,
      .second,
      .third {
        background: #ddd;
        height: .7rem;
        position: absolute;
        width: .7rem;
      }

      .first {
        right: 0;
        top: 0;
      }

      .second {
        left: 0;
        top: 0;
      }

      .third {
        bottom: 0;
        left: 0;
      }

      .runner {
        background: #f0c11c;
      }
    }

    @each $team, $colors in $team-colors {
      .#{$team} {
        background: nth($colors, 1);
        color: nth($colors, 2);
      }
    }
  }
}

.modal {
  background: scale-color($modal-overlay-color, $alpha: -50%);

  .modal-content {
    border: 0;
    padding: 0;

    section {
      background: $white;
      border: 1px solid $modal-border-color;
      margin-bottom: .5rem;
      padding: rem-calc(12);

      &:first-child {
        border-top-width: 0;
      }

      &:last-child {
        border-bottom-width: 0;
        margin-bottom: 0;
      }
    }
  }
}

table {
  &.linescore {
    margin: 0;

    thead {
      th {
        text-align: center;
        border-bottom: none;
      }
    }

    tbody {
      th, td {
        border: 1px solid #ddd;

        &:not(:first-child) {
          text-align: center;
        }

        &.did-not-play {
          color: #ccc;

          &:after {
            content: 'X';
          }
        }
      }
    }
  }
}
