- title 'Subreddits'

%h4 Subreddits

%table.subreddits
  %thead
    %tr
      %th Name
      %th Team
      %th Account
      %th.text-center Sidebar
      %th.text-center Game Threads
      %th.text-center Pregame
      %th.text-center Postgame
  %tbody
    %tr.loading
      %td{ colspan: 7 } Loading subreddits...

= javascript_packs_with_chunks_tag 'subreddits/table'
