:ruby
  title 'Subreddits'

  javascript 'subreddits/table'

%h4 Subreddits

%table.subreddits.listing
  %thead
    %tr
      %th.whitespace-nowrap{ 'data-column' => 'name' } Name
      %th.whitespace-nowrap{ 'data-column' => 'team' } Team
      %th.whitespace-nowrap{ 'data-column' => 'account' } Account
      %th.whitespace-nowrap.text-center{ 'data-column' => 'sidebar' } Sidebar
      %th.whitespace-nowrap.text-center{ 'data-column' => 'game_threads' } Game Threads
      %th.whitespace-nowrap.text-center{ 'data-column' => 'pregame' } Pregame
      %th.whitespace-nowrap.text-center{ 'data-column' => 'postgame' } Postgame
  %tbody
    %tr.loading
      %td{ colspan: 7 } Loading subreddits...
