- title 'Subreddits'

%h4 Subreddits

%table.subreddits.listing
  %thead
    %tr
      %th{ 'data-column' => 'name' } Name
      %th{ 'data-column' => 'team' } Team
      %th{ 'data-column' => 'account' } Account
      %th.text-center{ 'data-column' => 'sidebar' } Sidebar
      %th.text-center{ 'data-column' => 'game_threads' } Game Threads
      %th.text-center{ 'data-column' => 'pregame' } Pregame
      %th.text-center{ 'data-column' => 'postgame' } Postgame
  %tbody
    %tr.loading
      %td{ colspan: 7 } Loading subreddits...

= javascript_include_tag 'subreddits/table', defer: true
