- title "/r/#{@subreddit.name}"
- html_data subreddit: @subreddit.id

%h1.text-center /r/#{@subreddit.name}

.grid
  .medium-6.columns
    %h2.text-center Templates

    .panel
      %ul{ 'data-field' => 'templates' }

  .medium-6.columns
    %h2.text-center Settings

    .panel
      %ul.disc{ 'data-field' => 'options' }

= javascript_packs_with_chunks_tag 'subreddits/show'
